body {
    background-color: rgb(248, 248, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif important!;
}

.main {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FFFFFF;
    max-width: 1200px;  
    padding: 1rem 1rem 1rem 1rem;
}

.title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

h1 {
    color: #000000;
    text-align: center;
    font-size: 2.2em;
}

.footer {
    text-align: center;
    background-color: rgb(248, 248, 237);
    padding: 0.1rem;
    color: ivory;
}

.loveFooter {
    color: #beb2b2;
}

a {
    color: rgb(73, 57, 43);
    padding: 5px;
    text-decoration-style: dotted;
    text-decoration-color: red;
    font-size: 18px;
}   

a:hover {
    color: #beb2b2;
}


.fa-heart {
    color: red;
    font-size: 14px;
}

.custom-image {
    width: 40px;
    height: 40px;
}

.custom-image-small {
    width: 25px;
    height: 25px;
}

.custom-image-extra-small {
    width: 20px;
    height: 20px;
}

.custom-btn {
    background-color: #ffffff;
}

.ul_custom {
    list-style-type: none;
    background: #3399ff;
    padding: 20px;
  }
   
ul .li_custom {
    background: #2a2b2c;
    margin: 5px;
    padding: 0.7rem 0.3rem 0.1rem 1rem;
  } 
